<h1>{{ghost-name}}</h1>

<img src={{bgimg-source}} alt="backgroundImage" />
<img src={{ghostImg}} id="ghostSprite" alt="ghost_sprite" />

<container class="dialogueBox">
    <p> `Hello, USERNAME. I’m sorry to bother you, but you looked lost. I didn’t mean to scare you. I just wanted to
        make
        sure you were alright. You seem...distracted. You just walked in here with a dazed look. Do you need anything?`
    </p>

    <p>
        {{#if positive}}`My name is GERTRUDE, and this is my home. Welcome. I’m sorry for the mess, there’s only
        so
        much I can do around here these days. It’s been so long since I’ve had new company.`
        {{else}}`Oh, calm down. My name is GERTRUDE and this is my home. Normally I would welcome visitors, please
        be kind and don’t make me change my mind.`
        {{/if}}
    </p>

    <p>
        {{#if positive}}`I was born in SANTA FE, but I spent most of my life in this house. My husband, CHARLIE, and I
        loved this home. We raised our family here. My children took their first steps right over there by the
        fireplace. I somehow got stuck here forever. You will probably meet other spirits around here somewhere, so make
        sure to stay on their good side, or you won’t get the key so you can leave. Can you help?`
        {{else}}` This is my home. Do not speak of it like that. I worked my whole life for this house. Are you going to
        help us or not?`
        {{/if}}
    </p>

    <p>
        {{#if positive}}`They are other spirits like myself, who were trapped here throughout time, but we want to leave
        now. When I died in a MOUNTAIN CLIMBING accident, I just couldn’t let myself leave here. And now I’m stuck. Just
        give
        the
        others one of these keys and get on their good side to convince them to leave the house for good. If you help
        me, I can leave.`
        {{else}}`GET OUT`
        {{/if}}
    </p>
    {{!-- ^^this can be boiled down later --}}
    <p class="dialogue">{{insert current line of text here}}</p>
    <p>{{insert next dialogue line here}}</p>
    <hr>
    <br>

    <button id="positiveBtn">{{positive-response}}</button>
    <button id="negativeBtn">{{negative-response}}</button>
    <button id="run">RUN!</button>
</container>