<body class="homePage">

<h1>{{ghost-name}}</h1>
<img src={{ghostImg}} id="ghostSprite" />

<container class="dialogueBox">
	{{!-- ghost speech --}}
	<p class="dialogue">{{insert current line of text here}}</p>
	<p>{{insert next dialogue line here}}</p>
	<hr>
	<br>
	{{!-- reaction from user --}}
	<button id="positive">{{positive-response}}</button>
	<button id="negative">{{negative-response}}</button>
	<button id="run">RUN!</button>
</container>
	</body>