<body class="homePage">
	<div class="grid-x">
		<div class="cell">
			<div class="center">
				<img src="https://ashlynimages.s3.us-east-2.amazonaws.com/homePageImage.jpg" class="bg" alt="">

				<h1>{{ghost-name}}</h1>
				<img id="indexGhostSprite"
					src="https://ashlynimages.s3.us-east-2.amazonaws.com/kisspng-pixel-art-animated-film-ghost-5aff57d1ba3770.4820248215266836017628.png"
					alt="ghost" />
			</div>
		</div>
	</div>
	<div class="footer">
		<container class="dialogueBox">
			<hr>
			{{!-- ghost speech --}}
			<div class="grid-x">
				<div class="cell small-1 large-1"></div>
				<div class="cell small-4 large-4">

					{{!-- <p class="dialogue">{{insert current line of text here}}</p>
					<p>{{insert next dialogue line here}}</p> --}}
					<a class="button secondary" id="startBtn" href="/home/1">Enter!</a>
					<br>
				</div>
				<div class="cell small-4 large-4">
					{{!-- <button id="positive">{{positive-response}}</button>
					<button id="negative">{{negative-response}}</button> --}}
				</div>
			</div>
		</container>
	</div>
</body>