<div class="grid-x">
    <div class="cell">
        <div class="center">
            <img src="https://ashlynimages.s3.us-east-2.amazonaws.com/SittingRoom.jpg" class="bg2" alt="Room 1 Image" />
            <img id="room1GhostSprite" src="https://ashlynimages.s3.us-east-2.amazonaws.com/grandmaGhostPXL.png"
                alt="ghost" />
        </div>
    </div>
</div>
<div class="footer">
    <hr>
    <div class="grid-y medium-grid-frame">
        <div class="cell medium-auto medium-cell-block-container">
            <div class="grid-x grid-padding-x">
                <div class="cell small-1 large-3 "></div>
                <div class="cell medium-6 medium-cell-block-y">
                    <button type="button" class="button secondary show" id="gogoGhostie">Go Go Ghostie</button>


                    {{!-- initial greeting from Ghost 1 --}}
                    <form id="interaction1-0" class="create-form hide">

                        <div class="form-group">

                            <p> Hello, {{viewUser.fullName}} I’m sorry to bother you, but you looked lost. I
                                didn’t
                                mean to scare you.
                                I just wanted to make sure you were alright. You seem...distracted. You just walked in
                                here
                                with a
                                dazed look. Do you need
                                anything?
                            </p>

                        </div>
                        {{!-- pos show 1.1 --}}

                        <button class="button secondary" id="positiveBtn" for="positive" type="submit" name="posBtn">I’m
                            okay,
                            thanks. Who are you?
                        </button>

                        {{!-- neg show 1.2 --}}

                        <button class="button secondary" id="negativeBtn" for="negative" type="submit"
                            name="negBtn">Ahhhh!
                            It’s a
                            g-g-g-g-ghost! Get away!
                        </button>

                    </form>
                    {{!-- if positive first user response show interaction1.1 --}}
                    <form id="interaction1-1" class="create-form hide">
                        <div class="form-group">
                            <p>
                                My name is {{entryGhost.fullName}}, and this is my home. Welcome. I’m sorry for the
                                mess, there’s only
                                so
                                much I can do around here these days. It’s been so long since I’ve had new company.`
                            </p>
                        </div>
                        {{!-- pos show 1.3 --}}
                        <button class="button secondary" id="positiveBtn2" for="positive" type="submit"
                            name="posBtn">Tell me
                            about
                            yourself
                        </button>

                        {{!-- pos show 1.4 --}}

                        <button class="button secondary" id="negativeBtn2" for="negative" type="submit"
                            name="negBtn">Why
                            would
                            anyone want to come here?
                        </button>

                    </form>
                    {{!-- if negative first user response show 1.2--}}
                    <form id="interaction1-2" class="create-form hide">

                        <div class="form-group">

                            <p>
                                Oh, calm down. My name is {{entryGhost.fullName}} and this is my home. Normally I would
                                welcome
                                visitors,
                                please
                                be kind and don’t make me change my mind.
                            </p>

                        </div>
                        {{!-- pos show 1.5 --}}
                        <button class="button secondary" id="positiveBtn3" for="positive" type="submit"
                            name="posBtn">Tell me
                            about
                            yourself
                        </button>
                        {{!-- neg show 1.6 --}}
                        <button class="button secondary" id="negativeBtn3" for="negative" type="submit"
                            name="negBtn">Why
                            would
                            anyone want to come here?
                        </button>
                    </form>
                    {{!-- positive response --}}
                    <form id="interaction1-3" class="create-form hide">

                        <div class="form-group">

                            <p>
                                I was born in {{entryGhost.homeTown}} but I spent most of my life in this house. My
                                husband, Charlie,
                                and
                                I
                                loved this home. We raised our family here. My children took their first steps right
                                over
                                there by
                                the
                                fireplace. I somehow got stuck here forever. You will probably meet other spirits around
                                here
                                somewhere, so
                                make
                                sure to stay on their good side, or you won’t get the key so you can leave. Can you
                                help?
                            </p>

                        </div>
                        {{!-- pos show 1.7 --}}

                        <button class="button secondary" id="positiveBtn4" for="positive" type="submit"
                            name="posBtn">Who
                            are
                            the
                            other spirits? How can I help?
                        </button>

                        {{!-- neg show 1.8 --}}

                        <button class="button secondary" id="negativeBtn4" for="negative" type="submit"
                            name="negBtn">Why
                            would I
                            help you?
                        </button>

                    </form>
                    {{!-- negative response --}}
                    <form id="interaction1-4" class="create-form hide">

                        <div class="form-group">

                            <p>
                                This is my home. Do not speak of it like that. I worked my whole life for this house.
                                Are
                                you going
                                to
                                help us or not?
                            </p>

                        </div>
                        {{!-- pos show 1.7 --}}

                        <button class="button secondary" id="positiveBtn5" for="positive" type="submit"
                            name="posBtn">Who
                            are
                            the
                            other spirits? How can I help?
                        </button>

                        {{!-- neg show 1.8 --}}

                        <button class="button secondary" id="negativeBtn5" for="negative" type="submit"
                            name="negBtn">Why
                            would I
                            help you?
                        </button>

                    </form>
                    {{!-- positive response --}}
                    <form id="interaction1-5" class="create-form hide">

                        <div class="form-group">

                            <p>
                                They are other spirits like myself, who were trapped here throughout time, but we want
                                to
                                leave
                                now. When I died in a {{entryGhost.faveSport}} accident, I just couldn’t let myself
                                leave here. And now I’m
                                stuck. Just
                                give
                                the
                                others one of these keys and get on their good side to convince them to leave the house
                                for
                                good. If
                                you
                                help
                                me, I can leave.`
                            </p>

                        </div>
                        {{!-- pos show 1.7 --}}

                        <a class="button secondary" id="positiveBtn6" for="positive" type="submit" name="posBtn"
                            href="/foyer/1">I
                            want
                            to help.
                        </a>

                        {{!-- neg show 1.8 --}}

                        <a class="button secondary" id="negativeBtn6" for="negative" type="submit" name="negBtn"
                            href="/foyer/1">I
                            don't
                            want to
                            help.
                        </a>

                    </form>
                    {{!-- negative response --}}
                    <form id="interaction1-6" class="create-form hide">

                        <div class="form-group">
                            <p>
                                GET OUT
                            </p>
                        </div>
                        {{!-- pos show 1.7 --}}

                        <a class="button secondary" id="positiveBtn7" for="positive" type="submit" name="posBtn"
                            href="/foyer/1">OK
                        </a>

                        {{!-- neg show 1.8 --}}

                        <a class="button secondary" id="negativeBtn7" for="negative" type="submit" name="negBtn"
                            href="/foyer/1">BAHHHHH
                        </a>

                    </form>
                    <a class="button secondary run" id="runBtn" href="/foyer/1">RUN!</a>


                </div>
            </div>
        </div>
    </div>
</div>